html {
  &.mq-l,
  &.mq-m {
    .about-page {
      padding-bottom: 6rem;

      .description {
        .contact-btn {
          position: absolute;
          margin-top: 0;
        }
      }
    }
  }

  &.mq-s,
  &.mq-xs {
    .about-page {
      padding-bottom: 9rem;

      .description {
        .contact-btn {
          position: static;
          margin: 1rem auto 0;
        }
      }

      .skills-info {
        flex-direction: column;
      }
    }
  }
}
