@import 'src/common/style/variables';

.about-page {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  .portrait {
    display: flex;
    justify-content: center;
    padding-top: 5rem;

    img {
      width: 100%;
      max-width: 500px;
    }
  }

  .description {
    $padding-y: 3rem;
    $padding-x: 4rem;

    background-color: $dark-color;
    padding: $padding-y $padding-x;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;

    .contact-btn {
      top: $padding-y;
      right: $padding-x;
      margin-top: 1rem;
    }

    .title p {
      font-size: 1.5rem;
    }

    .text {
      font-size: 1.2rem;
      font-weight: 200;
      letter-spacing: 0.1rem;
      line-height: 1.5;
    }
  }

  .skills-info {
    display: flex;
    gap: 6rem;

    .experience {
      $padding-y: 3rem;
      $padding-x: 4rem;

      background-color: $light-color;
      color: $dark-color;
      flex-grow: 1;
      border-radius: 10px;
      padding: $padding-y $padding-x;
    }
  }
}
