@import './variables';

.main-layout {
  $header-height: 90px;
  $footer-height: 120px;

  position: relative;
  padding: $header-height 0 $footer-height;

  .main-layout__header,
  .main-layout__footer {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    border-color: $light-color;
    border-style: solid;
    border-width: 0;
  }

  .main-layout__header {
    top: 0;
    height: $header-height;
    border-bottom-width: 1px;
  }

  .main-layout__content {
    z-index: 1;
    min-height: calc(100vh - $header-height - $footer-height);
    display: flex;
    justify-content: center;

    .container {
      width: 100vw;
      background-color: lightslategray;
    }
  }

  .main-layout__footer {
    bottom: 0;
    height: $footer-height;
    border-top-width: 1px;
  }
}


body {
  &.mq-l {
    .main-layout {
      .main-layout__content {
        .container {
          max-width: 1100px;
        }
      }
    }
  }

  &.mq-m {
    .main-layout {
      .main-layout__content {
        .container {
          max-width: 700px;
        }
      }
    }
  }
}
