@import './variables';

.main-layout {
  $header-height: 5rem;
  $footer-height: 130px;

  position: relative;
  padding: $header-height 0 0;

  .scroll-section {
    overflow: auto;
    height: calc(100vh - $header-height);

    .main-layout__header,
    .main-layout__footer {
      border-color: $dark-color;
      border-style: solid;
      border-width: 0;
      padding: 0 40px;
    }


    .main-layout__header,
    .main-layout__footer .main-information {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .main-layout__header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 2;
      height: $header-height;
      border-bottom-width: 1px;
      background-color: $bg-color;

      .logo-short {
        height: 3.2rem;
      }

      .page-title {
        text-transform: uppercase;
        font-size: 1.5rem;
      }
    }

    .main-layout__content {
      position: relative;
      z-index: 1;
      min-height: calc(100vh - $header-height - $footer-height);
      //height: 200vh;
      display: flex;
      justify-content: center;
      padding-bottom: 6rem;

      .container {
        width: 100vw;
        opacity: 0;
        transition: 300ms;
      }
    }

    .main-layout__footer {
      height: $footer-height;
      border-top-width: 1px;
      color: $dark-color;

      .main-information {
        height: 90px;

        .logo-full {
          height: 40px;
        }
      }
    }
  }
}


html {
  &.shown {
    .main-layout {
      .main-layout__content {
        .container {
          opacity: 1;
        }
      }
    }
  }

  &.mq-l {
    .main-layout {
      .main-layout__content {
        .container {
          max-width: 1100px;
          padding: 0;
        }
      }
    }
  }

  &.mq-m {
    .main-layout {
      .main-layout__content {
        .container {
          max-width: 700px;
          padding: 0;
        }
      }
    }
  }

  &.mq-s {
    .main-layout {
      .main-layout__content {
        .container {
          padding: 0 40px;
        }
      }
    }
  }

  &.mq-xs {
    .main-layout {
      .main-layout__header {
        padding: 0 15px;
        gap: 20px;

        .soc-net-links {
          gap: 20px;
        }
      }

      .main-layout__content {
        .container {
          padding: 0 15px;
        }
      }

      .main-layout__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 160px;
        padding-top: 20px;

        .main-information {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          height: auto;

          .soc-net-links {
            .soc-net-link {
              svg {
                height: 1.8rem;

                &.gmail-logo {
                  height: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
