$bg-color: #251526;
$dark-color:  #525a9c;
$dark-color-opacity: rgba(82, 90, 156, 0.5);
$light-color: #e4e6ff;
$light-color-opacity: rgba(228, 230, 255, 0.5);

$black-color: #000;
$gray-color:  #bfc1d4;
$white-color: #fff;

$success-primary-color:         #52ff0e;
$success-primary-hover-color: #be3987;
$success-secondary-color:       #16ffea;
$success-secondary-hover-color: #f6ff12;

$danger-primary-color:   #a92a35;
$danger-secondary-color: #d81122;

@mixin success-gradient-bg {
  background: linear-gradient(45deg, $success-primary-color, $success-secondary-color);

  &:hover {
    background: linear-gradient(45deg, $success-primary-hover-color, $success-secondary-hover-color);
  }
}

@mixin danger-gradient-bg {
  background: linear-gradient(45deg, $danger-primary-color, $danger-secondary-color);
}
