@import 'src/common/style/variables';

.gradient-border-button {
  padding: 4px;
  cursor: pointer;

  @include success-gradient-bg;

  button {
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;

    &.default-bg {
      background-color: $bg-color;
    }

    &.dark-bg {
      background-color: $dark-color;
    }

    &.light-bg {
      background-color: $light-color;
      color: $dark-color;
    }
  }
}
