@import 'src/common/style/variables';

.gradient-border-button {
  padding: 4px;
  cursor: pointer;

  @include success-gradient-bg;

  button {
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;

    &.default-bg {
      background-color: $bg-color;
    }

    &.dark-bg {
      background-color: $dark-color;
    }

    &.light-bg {
      background-color: $light-color;
      color: $dark-color;
    }
  }
}
