@import './../../style/variables';

.skill-set {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  width: 285px;
  height: 285px;
  margin: 0 auto;

  > div {
    width: 100%;
  }
}
