@import '/src/common/style/variables';

.skill-logo {
  border-radius: 10%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  &.clickable {
    cursor: pointer;
  }

  &.JavaScript-logo {
    background-color: #f7e018;
  }

  &.TypeScript-logo {
    background-color: #3178c6;

    img {
      transform: translate(-47%, -47%) scale(0.9);
    }
  }

  &.Vue-logo,
  &.Vuex-logo {
    background-color: $dark-color;
  }

  &.React-logo {
    img {
      width: 90%;
    }
  }

  &.HTML-logo {
    img {
      width: 100%;
    }
  }

  &.Git-logo {
    img {
      width: 100%;
    }
  }

  &.PHP-logo {
    img {
      width: 100%;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &.Python-logo {
    img {
      width: 100%;
    }
  }

  &.PostgreSQL-logo {
    img {
      width: 100%;
    }
  }

  &.Redux-logo {
    background-color: $light-color;
  }

  &.MySQL-logo {
    background-color: $light-color;
  }

  &.Akita-logo {
    background-color: $white-color;
  }
}
