@import 'src/common/style/variables';

.demo-menu-page {
  background-image: url(../../assets/images/demo-menu-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  grid-template-rows: 4fr 3fr 2fr 3fr;
  grid-template-areas:
    'tsk evt blg'
    'tsk glr blg'
    'str glr blg'
    'str nws nws';
  min-height: 260px;

  .menu-item {
    $transition-delay: 200ms;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.25rem solid $bg-color;
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: $transition-delay;
    cursor: pointer;

    .title {
      font-weight: 200;
    }

    .process-msg {
      transition: $transition-delay;
      opacity: 0;
      font-size: 1rem;
    }

    &:hover {
      box-shadow: inset 0 0 0 1px $white-color;
      background: linear-gradient(315deg, transparent, $dark-color);

      .title {
        font-weight: 700;
      }

      .process-msg {
        opacity: 1;
      }
    }
  }
}
